print hello world

In [29]:
print("hello world")

hello world

Variable

In [19]:
tinggi = 1.4

In [20]:
berat = 50

In [24]:
tinggi

1.4

In [30]:
berat

50

basic operator

In [27]:
print(5+10)

15

In [32]:
print(5-5)

0

In [42]:
a= 5

In [44]:
b= 10

In [45]:
print(a+b)

15

In [46]:
print(a-a)

0

Data Tipe

In [50]:
type(tinggi)

float

In [51]:
type(berat)

int

In [53]:
nama_ku = "titim"

In [54]:
type(nama_ku)

str

In [60]:
panjang = 5.5

In [56]:
lebar = 10

In [62]:
luas = panjang * lebar

In [63]:
luas

55.0

In [64]:
type(luas)

float

In [67]:
luas_string = str(luas)

In [66]:
type(luas)

float

In [68]:
type(luas_string)

str

Aku punya uang 100.000 tk taruh bank selama 5 tahun, bunga nya 10%. berapa uang ku sekarang ?

In [72]:
uang= 100000
bunga=0.1
periode=5

In [75]:
uang_ku = uang + (bunga * uang ) * periode
uang_ku

150000.0

P(1+r/n)^n.t

In [80]:
uangku = uang*(1+bunga/5)**(5*5)

In [81]:
uangku

164060.59944647306

 Sebuah bola menggelinding ke bawah dari suatu bidang miring dengan percepatan tetap 3,4 m/s2. Jika bola bergerak dengan kecepatan awal 3 m/s, tentukan kecepatan bola setelah bergerak selama 5 detik!
 v =    vo + a t

In [82]:
vo=3
a=3.4
t=5

In [83]:
v= vo+a*t

In [84]:
v

20.0

In [88]:
print ("kecepatan bola adalah : "  + v)

TypeError: must be str, not float